In [2]:
import pandas as pd
import os
import json

In [3]:
# NYC shooting data
nyc_shooting_df=pd.read_csv('/Users/nli/dev/airflow_home/data/nyc_shooting_data.csv')

In [4]:
nyc_shooting_df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,206890929,12/31/2019,23:15:00,MANHATTAN,28,0.0,HOTEL/MOTEL,True,25-44,M,BLACK,25-44,M,BLACK,997155,230828,40.800244,-73.953390
1,206891917,12/31/2019,20:14:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1007235,179932,40.660527,-73.917156
2,206882664,12/30/2019,21:29:00,BROOKLYN,71,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1000996,178614,40.656923,-73.939647
3,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006612,189509,40.686815,-73.919370
4,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1006612,189509,40.686815,-73.919370

In [5]:
nyc_shooting_df.tail()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
962,191851037,01/03/2019,21:00:00,BRONX,49,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1024472,256716,40.871217,-73.854569
963,191790873,01/02/2019,13:34:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,999653,193642,40.698174,-73.944453
964,191739125,01/01/2019,05:40:00,BROOKLYN,88,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,991148,192533,40.695141,-73.975126
965,191709964,01/01/2019,04:26:00,BROOKLYN,75,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,BLACK,1021382,181825,40.665675,-73.866156
966,191739126,01/01/2019,02:19:00,BRONX,46,2.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK HISPANIC,25-44,M,BLACK,1013072,251276,40.856331,-73.895812

In [6]:
nyc_shooting_df.shape

(967, 18)

In [7]:
nyc_shooting_df.columns

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
nyc_shooting_df.count()

INCIDENT_KEY               967
OCCUR_DATE                 967
OCCUR_TIME                 967
BORO                       967
PRECINCT                   967
JURISDICTION_CODE          966
LOCATION_DESC              321
STATISTICAL_MURDER_FLAG    967
PERP_AGE_GROUP             519
PERP_SEX                   519
PERP_RACE                  519
VIC_AGE_GROUP              967
VIC_SEX                    967
VIC_RACE                   967
X_COORD_CD                 967
Y_COORD_CD                 967
Latitude                   967
Longitude                  967
dtype: int64

In [37]:
nyc_shooting_df.isnull().sum()

INCIDENT_KEY                 0
OCCUR_DATE                   0
OCCUR_TIME                   0
BORO                         0
PRECINCT                     0
JURISDICTION_CODE            1
LOCATION_DESC              646
STATISTICAL_MURDER_FLAG      0
PERP_AGE_GROUP             448
PERP_SEX                   448
PERP_RACE                  448
VIC_AGE_GROUP                0
VIC_SEX                      0
VIC_RACE                     0
X_COORD_CD                   0
Y_COORD_CD                   0
Latitude                     0
Longitude                    0
dtype: int64

In [38]:
nyc_shooting_df.groupby('BORO').count()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
BORO,,,,,,,,,,,,,,,,,
BRONX,266,266,266,266,266,78,266,155,155,155,266,266,266,266,266,266,266
BROOKLYN,372,372,372,372,372,136,372,183,183,183,372,372,372,372,372,372,372
MANHATTAN,145,145,145,145,144,63,145,82,82,82,145,145,145,145,145,145,145
QUEENS,158,158,158,158,158,40,158,84,84,84,158,158,158,158,158,158,158
STATEN ISLAND,26,26,26,26,26,4,26,15,15,15,26,26,26,26,26,26,26

In [39]:
nyc_shooting_df.groupby('BORO').BORO.count()

BORO
BRONX            266
BROOKLYN         372
MANHATTAN        145
QUEENS           158
STATEN ISLAND     26
Name: BORO, dtype: int64

In [40]:
#Rename the BORO -> Borough, prepare for join table later
nyc_shooting_df.rename(columns={'BORO':"Borough"}, inplace=True)

In [41]:
nyc_shooting_df

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,Borough,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,206890929,12/31/2019,23:15:00,MANHATTAN,28,0.0,HOTEL/MOTEL,True,25-44,M,BLACK,25-44,M,BLACK,997155,230828,40.800244,-73.953390
1,206891917,12/31/2019,20:14:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1007235,179932,40.660527,-73.917156
2,206882664,12/30/2019,21:29:00,BROOKLYN,71,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1000996,178614,40.656923,-73.939647
3,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006612,189509,40.686815,-73.919370
4,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1006612,189509,40.686815,-73.919370
5,206874852,12/29/2019,00:50:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,996128,184418,40.672862,-73.957181
6,206873688,12/28/2019,19:51:00,BROOKLYN,75,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1019355,188601,40.684282,-73.873427
7,206874854,12/28/2019,17:53:00,STATEN ISLAND,121,0.0,NaN,False,25-44,M,BLACK,25-44,M,WHITE HISPANIC,939602,167591,40.626571,-74.160845
8,206873686,12/28/2019,04:20:00,MANHATTAN,23,0.0,NaN,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1000900,228610,40.794150,-73.939869
9,206873687,12/27/2019,23:27:00,BRONX,46,0.0,NaN,True,25-44,M,BLACK HISPANIC,18-24,M,BLACK,1010591,250447,40.854063,-73.904784
10,206873499,12/27/2019,22:40:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1053272,196881,40.706809,-73.751051
11,206873498,12/27/2019,10:11:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1009872,182963,40.668839,-73.907640
12,206847122,12/26/2019,04:25:00,QUEENS,114,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1005336,213624,40.753008,-73.923895
13,206843560,12/25/2019,22:50:00,BRONX,41,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,1013775,238190,40.820411,-73.893328
14,206843561,12/25/2019,02:40:00,BROOKLYN,67,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,996904,173082,40.641746,-73.954405
15,206843363,12/25/2019,00:19:00,BROOKLYN,90,1.0,NaN,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,998704,195811,40.704129,-73.947871
16,206838693,12/24/2019,19:07:00,BROOKLYN,77,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1005300,182759,40.668291,-73.924122
17,206832369,12/23/2019,20:51:00,BROOKLYN,60,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,<18,F,BLACK,984688,150503,40.579780,-73.998425
18,206832369,12/23/2019,20:51:00,BROOKLYN,60,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,<18,M,BLACK,984688,150503,40.579780,-73.998425
19,206832555,12/23/2019,15:31:00,BROOKLYN,73,0.0,NaN,False,25-44,M,BLACK,45-64,M,BLACK,1009574,180396,40.661794,-73.908724
20,206832556,12/23/2019,11:25:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1046959,186778,40.679125,-73.773915
21,206824627,12/23/2019,05:28:00,BRONX,48,0.0,NaN,False,NaN,NaN,NaN,25-44,F,BLACK HISPANIC,1011829,248086,40.847579,-73.900318
22,206824627,12/23/2019,05:28:00,BRONX,48,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1011829,248086,40.847579,-73.900318
23,206823156,12/21/2019,04:36:00,BRONX,44,0.0,NaN,False,25-44,M,BLACK,45-64,M,BLACK,1004227,237572,40.818742,-73.927827
24,206821821,12/21/2019,04:30:00,BROOKLYN,78,1.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,991724,186291,40.678008,-73.973056
25,206823155,12/21/2019,03:20:00,BROOKLYN,70,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,995944,176899,40.652224,-73.957858
26,206821819,12/20/2019,21:36:00,BRONX,47,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK,1020998,257118,40.872336,-73.867128
27,206729523,12/19/2019,21:22:00,QUEENS,105,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1051883,184698,40.673380,-73.756183
28,206729524,12/19/2019,16:20:00,BROOKLYN,67,0.0,MULTI DWELL - APT BUILD,True,NaN,NaN,NaN,25-44,F,BLACK,1006160,180447,40.661943,-73.921029
29,206703579,12/19/2019,05:15:00,MANHATTAN,28,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK HISPANIC,996089,231418,40.801865,-73.957239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,192258908,01/13/2019,22:11:00,QUEENS,113,0.0,NaN,True,NaN,NaN,NaN,25-44,M,BLACK,1051144,193463,40.697443,-73.758760
938,192259536,01/13/2019,19:55:00,MANHATTAN,32,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK,1000486,235640,40.813446,-73.941347
939,192258906,01/13/2019,13:35:00,BROOKLYN,77,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,BLACK,1004594,185427,40.675616,-73.926659
940,192259533,01/13/2019,06:00:00,BROOKLYN,70,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,996079,174395,40.645351,-73.957376
941,192258907,01/13/2019,04:00:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,998234,186890,40.679644,-73.949584
942,192259535,01/12/2019,05:47:00,QUEENS,109,0.0,PVT HOUSE,False,18-24,M,WHITE,18-24,F,BLACK HISPANIC,1038778,216009,40.759411,-73.803173
943,192259537,01/12/2019,05:24:00,BROOKLYN,79,0.0,NaN,False,NaN,NaN,NaN,25-44,F,BLACK,1001291,186474,40.678497,-73.938564
944,192259534,01/11/2019,15:15:00,BRONX,46,0.0,MULTI DWELL - APT BUILD,False,NaN,NaN,NaN,18-24,M,WHITE HISPANIC,1009356,247701,40.846530,-73.909258
945,192159800,01/11/2019,01:30:00,BROOKLYN,69,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,1012853,176538,40.651195,-73.896922
946,192059857,01/09/2019,05:43:00,BRONX,47,0.0,NaN,True,25-44,M,BLACK,25-44,M,BLACK,1024819,260118,40.880553,-73.853294
947,192049864,01/08/2019,11:03:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1006411,182794,40.668385,-73.920117
948,191997175,01/08/2019,00:32:00,BRONX,42,0.0,NaN,False,18-24,M,BLACK,18-24,M,WHITE HISPANIC,1010106,241483,40.829461,-73.906572
949,191997175,01/08/2019,00:32:00,BRONX,42,0.0,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,WHITE HISPANIC,1010106,241483,40.829461,-73.906572
950,193118595,01/07/2019,19:30:00,QUEENS,107,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1034880,204404,40.727582,-73.817331
951,191995443,01/07/2019,19:19:00,BRONX,48,2.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,BLACK,25-44,M,BLACK,1017483,245763,40.841184,-73.879894
952,191951586,01/06/2019,23:36:00,BROOKLYN,60,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,BLACK,986481,148626,40.574628,-73.991971
953,191951588,01/06/2019,03:00:00,BRONX,43,2.0,MULTI DWELL - PUBLIC HOUS,True,18-24,M,BLACK,25-44,M,WHITE HISPANIC,1021283,238581,40.821456,-73.866200
954,191951588,01/06/2019,03:00:00,BRONX,43,2.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,BLACK,25-44,M,WHITE HISPANIC,1021283,238581,40.821456,-73.866200
955,191949900,01/06/2019,02:46:00,BRONX,41,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1013902,238673,40.821736,-73.892867
956,191951587,01/05/2019,16:00:00,QUEENS,114,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,1002652,215969,40.759451,-73.933576
957,191949902,01/05/2019,01:50:00,BRONX,43,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK,1025519,242145,40.831219,-73.850873
958,191951589,01/05/2019,00:42:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,<18,M,BLACK HISPANIC,951319,171306,40.636819,-74.118653
959,191949899,01/04/2019,15:49:00,BROOKLYN,61,2.0,NaN,False,<18,M,BLACK,<18,M,BLACK,1000639,157279,40.598364,-73.940985
960,191853461,01/04/2019,02:20:00,BROOKLYN,60,0.0,MULTI DWELL - APT BUILD,False,18-24,M,BLACK,45-64,M,BLACK,986229,148311,40.573763,-73.992878
961,191851038,01/03/2019,23:00:00,STATEN ISLAND,121,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,939054,166916,40.624715,-74.162815
962,191851037,01/03/2019,21:00:00,BRONX,49,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1024472,256716,40.871217,-73.854569
963,191790873,01/02/2019,13:34:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,999653,193642,40.698174,-73.944453
964,191739125,01/01/2019,05:40:00,BROOKLYN,88,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,991148,192533,40.695141,-73.975126
965,191709964,01/01/2019,04:26:00,BROOKLYN,75,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,BLACK,1021382,181825,40.665675,-73.866156
966,191739126,01/01/2019,02:19:00,BRONX,46,2.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK HISPANIC,25-44,M,BLACK,1013072,251276,40.856331,-73.895812

In [42]:
nyc_shooting_df2 = nyc_shooting_df.drop(columns=['INCIDENT_KEY', 'JURISDICTION_CODE', 'LOCATION_DESC', 
                                                'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
                                                'VIC_AGE_GROUP', 'VIC_AGE_GROUP', 'VIC_RACE', 
                                                 'X_COORD_CD', 'Y_COORD_CD'])

In [43]:
nyc_shooting_df2.head()

   OCCUR_DATE OCCUR_TIME    Borough  PRECINCT VIC_SEX   Latitude  Longitude
0  12/31/2019   23:15:00  MANHATTAN        28       M  40.800244 -73.953390
1  12/31/2019   20:14:00   BROOKLYN        73       M  40.660527 -73.917156
2  12/30/2019   21:29:00   BROOKLYN        71       M  40.656923 -73.939647
3  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370
4  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370

In [44]:
nyc_shooting_df2.isnull().sum()

OCCUR_DATE    0
OCCUR_TIME    0
Borough       0
PRECINCT      0
VIC_SEX       0
Latitude      0
Longitude     0
dtype: int64

In [45]:
nyc_shooting_df2.columns = ['occur_date', 'occur_time', 'borough', 'precinct', 'vic_sex','latitude', 'longitude']

In [48]:
nyc_shooting_df2.head()

   occur_date occur_time    borough  precinct vic_sex   latitude  longitude
0  12/31/2019   23:15:00  MANHATTAN        28       M  40.800244 -73.953390
1  12/31/2019   20:14:00   BROOKLYN        73       M  40.660527 -73.917156
2  12/30/2019   21:29:00   BROOKLYN        71       M  40.656923 -73.939647
3  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370
4  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370

In [47]:
nyc_shooting_df2.to_csv('/Users/nli/dev/airflow_home/data/nyc_shooting_data2.csv')