In [1]:
# Parameters
file_name = "/Users/nli/dev/airflow_home/data/nyc_hotel_data2.csv"

In [2]:
import pandas as pd

In [3]:
nyc_hotel_df=pd.read_csv('/Users/nli/dev/airflow_home/data/nyc_hotel_data.csv')

In [4]:
nyc_hotel_df.shape

(2731, 20)

In [5]:
nyc_hotel_df.head()

,PARID,BOROCODE,BLOCK,LOT,TAXYEAR,STREET NUMBER,STREET NAME,Postcode,BLDG_CLASS,TAXCLASS,OWNER_NAME,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1000080039,1,8,39,2021,32,PEARL STREET,10004,H3,4,"32 PEARL, LLC",MANHATTAN,40.703235,-74.012421,101.0,1.0,9.0,1078968.0,1.000080e+09,Battery Park City-Lower Manhattan
1,1000080051,1,8,51,2021,6,WATER STREET,10004,H2,4,AI IV LLC,MANHATTAN,40.702744,-74.012201,101.0,1.0,9.0,1090472.0,1.000080e+09,Battery Park City-Lower Manhattan
2,1000100033,1,10,33,2021,8,STONE STREET,10004,H2,4,"B.H. 8 STONE STREET AG, LLC",MANHATTAN,40.704025,-74.012638,101.0,1.0,9.0,1087618.0,1.000100e+09,Battery Park City-Lower Manhattan
3,1000110029,1,11,29,2021,11,STONE STREET,10004,H2,4,"PREMIER EMERALD, LLC",MANHATTAN,40.704039,-74.012317,101.0,1.0,9.0,1000041.0,1.000110e+09,Battery Park City-Lower Manhattan
4,1000161301,1,16,1301,2021,102,NORTH END AVENUE,10282,RH,4,GOLDMAN SACHS,MANHATTAN,40.714812,-74.016153,101.0,1.0,31703.0,1085867.0,1.000168e+09,Battery Park City-Lower Manhattan

In [6]:
nyc_hotel_df.tail()

,PARID,BOROCODE,BLOCK,LOT,TAXYEAR,STREET NUMBER,STREET NAME,Postcode,BLDG_CLASS,TAXCLASS,OWNER_NAME,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
2726,5038750026,5,3875,26,2021,630,MIDLAND AVENUE,10306,H4,4,630 MIDLAND CORP,STATEN IS,40.571192,-74.091057,502.0,50.0,11202.0,5055032.0,5.038750e+09,New Dorp-Midland Beach
2727,5066680094,5,6668,94,2021,51,WILBUR STREET,10309,H4,4,A GUDDEMI,STATEN IS,40.515283,-74.194552,503.0,51.0,198.0,5082754.0,5.066680e+09,Annadale-Huguenot-Prince's Bay-Eltingville
2728,5070670090,5,7067,90,2021,39,ST LUKES AVENUE,10309,HB,4,JOHN VINCENT SCALIA,STATEN IS,40.553824,-74.216904,503.0,51.0,20801.0,5086591.0,5.070670e+09,Rossville-Woodrow
2729,5073650001,5,7365,1,2021,2600,VETERANS ROAD WEST,10309,H4,4,M & R ENTERPRISES OF,STATEN IS,40.533481,-74.224756,503.0,51.0,226.0,5086844.0,5.073650e+09,Charleston-Richmond Valley-Tottenville
2730,5075840099,5,7584,99,2021,110,SOUTH BRIDGE STREET,10309,H4,4,100-110 SOUTH BRIDGE LLC,STATEN IS,40.525055,-74.237788,503.0,51.0,226.0,NaN,NaN,Charleston-Richmond Valley-Tottenville

In [7]:
nyc_hotel_df.count()

PARID               2731
BOROCODE            2731
BLOCK               2731
LOT                 2731
TAXYEAR             2731
STREET NUMBER       2730
STREET NAME         2731
Postcode            2731
BLDG_CLASS          2731
TAXCLASS            2731
OWNER_NAME          2731
Borough             2726
Latitude            2724
Longitude           2724
Community Board     2724
Council District    2724
Census Tract        2724
BIN                 2711
BBL                 2711
NTA                 2724
dtype: int64

In [8]:
nyc_hotel_df.isnull().sum()

PARID                0
BOROCODE             0
BLOCK                0
LOT                  0
TAXYEAR              0
STREET NUMBER        1
STREET NAME          0
Postcode             0
BLDG_CLASS           0
TAXCLASS             0
OWNER_NAME           0
Borough              5
Latitude             7
Longitude            7
Community Board      7
Council District     7
Census Tract         7
BIN                 20
BBL                 20
NTA                  7
dtype: int64

In [9]:
nyc_hotel_df.columns

Index(['PARID', 'BOROCODE', 'BLOCK', 'LOT', 'TAXYEAR', 'STREET NUMBER',
       'STREET NAME', 'Postcode', 'BLDG_CLASS', 'TAXCLASS', 'OWNER_NAME',
       'Borough', 'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

In [10]:
nyc_hotel_df.groupby('Borough').Borough.count()

Borough
BRONX          73
BROOKLYN      177
MANHATTAN    2250
QUEENS        209
STATEN IS      17
Name: Borough, dtype: int64

In [11]:
nyc_hotel_df2 = nyc_hotel_df.drop(columns=['PARID', 'BOROCODE', 'BLOCK', 'LOT', 'TAXYEAR', 'STREET NUMBER',
                                          'STREET NAME', 'BLDG_CLASS', 'TAXCLASS', 'OWNER_NAME', 'Community Board',
                                          'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA'])

In [12]:
nyc_hotel_df2.columns = ['postcode', 'borough', 'latitude', 'longitude']

In [13]:
nyc_hotel_df2 = nyc_hotel_df2.set_index('postcode')

In [14]:
nyc_hotel_df2

            borough   latitude  longitude
postcode
10004     MANHATTAN  40.703235 -74.012421
10004     MANHATTAN  40.702744 -74.012201
10004     MANHATTAN  40.704025 -74.012638
10004     MANHATTAN  40.704039 -74.012317
10282     MANHATTAN  40.714812 -74.016153
...             ...        ...        ...
10306     STATEN IS  40.571192 -74.091057
10309     STATEN IS  40.515283 -74.194552
10309     STATEN IS  40.553824 -74.216904
10309     STATEN IS  40.533481 -74.224756
10309     STATEN IS  40.525055 -74.237788

[2731 rows x 3 columns]

In [15]:
nyc_hotel_df2.to_csv('/Users/nli/dev/airflow_home/data/nyc_hotel_data2.csv')