In [1]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv('city.csv')
df = df.astype(str)
conn = sqlite3.connect('example.db')
c = conn.cursor()
df.to_sql('test_table', conn, if_exists='append', index=False)

In [5]:
test = c.execute("SELECT * FROM test_table \
                    WHERE name LIKE 'B%' LIMIT 5;")

In [7]:
def sql_query_to_pddf(sql_query, *argv):
    sql_query = [row for row in sql_query]
    sql_query = pd.DataFrame.from_records(sql_query)
    sql_query.columns = [[*argv]]
    return sql_query

In [9]:
sql_query_to_pddf(test, 'Name', 'Population')

          Name Population
0  Bakersfield     247057
1    Baltimore     651154
2  Baton Rouge     227818
3     Beaumont     113866
4     Bellevue     109569